<footer id="layout-footer">
    <div>
        <p>
            &#169; codella. &nbsp; All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <% if (locals.user){ %>
                <li>
                    <a href="/users/profile/<%=user.id%>">Profile</a>
                </li>
                <% } %>
            </ul>
        </nav>
    </div>
</footer>