<link rel="stylesheet" href = "/css/home.css">
<h1> 
    Codeella's Home Page
</h1>

<section id = "feed-posts">
    <h4>Posts</h4>
    <form action = "/posts/create" id = "new-post-form" method = "POST">

        <textarea name = "content" cols = "50" rows = "5" placeholder="Type here.."></textarea>

        <input type="submit" value="Post">


    </form>
</section>