<p>
    Enter your e-mail address below to reset your password 
</p>
<form action = "reset-password/email" method="post">
    <input type="email" name="email" placeholder="E-mail" required>
    <button type="submit">Reset Password</button>
</form>