<form action = "/reset-password/update-password" method = "post">
    <input type="hidden" name="token" value="<%= accessToken %>">
    <input type = "password" placeholder="Password" name="password">
    <input type = "password" placeholder=" Confirm Password" name="confirmPassword">
    <input type="submit" value = "Submit"> 
</form>