<link rel="stylesheet" href = "/css/user_profile.css">

<h1>
    <%= profile_user.first_name %>'s Profile
</h1>
<p>Name : <%= profile_user.last_name %> <%= profile_user.first_name %> </p>
<p>E-mail : <%= profile_user.email %> </p>

