<link rel="stylesheet" href = "/css/user_sign_in.css">
<h1>
    Sign In
</h1>

<form action = "/users/create-session" method="post">
    <input type="email" name="email" placeholder="E-mail" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit" id = "sign-in">Sign In</button>
</form>