<div>
    <p>
        Hi, <%= post.user.name %> !
        <br>
        <br>
        Your new post <i> <strong> <%= post.content %>  </strong> </i> has just been published on Codeella!
    </p>
        <br>
        <br>
    <p>
        Thank you for making Codeella a better community for everyone around the globe !
    </p>
</div>