<div>
    <p>
        Hi <%= post.user.name %>,
        <br>
        <br>
        <%=comment.user.name%> has commented <strong> <i> <%=comment.content%> <i/></strong> on your post on Codeella!
        <br>
        Thank you for making Codeella a better community for everyone around the globe !
    </p>
</div> 
 
 
 
 
 

 