body {
  margin: 0;
  /* text-align: center; */ }
  body #layout-main {
    height: 100%; }

a:link {
  color: black;
  text-decoration: none; }

a:visited {
  color: black;
  text-decoration: none; }

a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none; }

a:active {
  color: black;
  text-decoration: none; }
